#settings for coverage viewer
#all parameters should be given in form of "name: value"
#all empty symbols at start or end of lines make no sense
<region>
	contig_id: chr1
	start: 67145000
	stop: 67155833
	reversed: false
</>
<view>
	<appearance>
		width: 1000
		margins: 15,10,10,10
		<coverage>
			log: false
			decorated: true
			cov_colors: 150,150,150;50,50,50
			junc_colors: 255,0,0;255,150,150
			ticlength: 6
			min_junc_cov: 5
			min_rel_junc_cov: 0.0
			plot_junctions: true
			#bam or gff
			junctions_source: bam
			covheight: 150
			#arc, angle
			junc_type: arc
			junc_line_width: 2
			# any, one, both: plot any junction, junstions with at least one in within plotting area, only junstions with both ends within plotting area
			junc_to_plot: any
			opt_no_of_tics: 4
			min_smooth_bin_len: 1
			#max or mean
			smooth_func: max
			#use -1 to not trim coverage plot by height
			max_cov: -1
		</>
		<annotation>
			ann_only_genes: false
			annheight: 35
			seg_height: 15
			exncolor: 0,255,0
			altcolor: 255,255,0
			intcolor: 0,0,255
		</>
	</>
	<data>
		ann_in: a.gff
		bam_in: 1.bam,2.bam
		lib_names: 1,2
		stranded: false
		#unique/all,start/all,paired/all
		covtypes: uap
		samples: 0;1;0:1
	</>
</>
<win>
	batch_save_in: /
	save_img: /
	save_location: /
	winwidth: 1300
	winheight: 700
</>
<navigation>
	navshift: 0.5
	navzoom: 2.0
</>
<common>
	verbose: true
	suppress_warnings: false
	exception2warn: false
	debug: true
</>
